<footer>
    <div class="f-info">
        <div class="f-info-socials mt-2 ">
            <a href="https://www.instagram.com"  >
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.facebook.com"  >
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/nikita-chaturvedi-a8bb90275/"   >
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div>&copy; TimeCapsule Travel</div>
        <div> - A tour through historic landmarks</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>